
<div>
    <h1>Date :- {{weather.dt_txt}}</h1><br/>
    Temperature :- {{weather.main.temp}}<br/>
    Minimum Temperature :- {{weather.main.temp_min}}<br/>
    Maximum Temperature :- {{weather.main.temp_max}}<br/>
    Pressure :- {{weather.main.pressure}}<br/>
    Humidity :- {{weather.main.humidity}}<br/>
    Pressure :- {{weather.main.pressure}}<br/>
</div>